.cstyle.warning {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-WARNING-color);
    --VARIABLE-BOX-TEXT-color: rgb(29, 27, 26);
    color:rgb(29, 27, 26)
    
}

div.box {
    background-color:rgb(250, 222, 222);
    border-color: rgb(224, 62, 62);
    padding:0 5%
}
div.box {
    margin: 1.5rem 0;
    border-style: solid;
    border-width: 1px;
}
.cstyle {
    background-color:rgb(224, 62, 62); ;
    --VARIABLE-BOX-CAPTION-color: var(--INTERNAL-BOX-CAPTION-color);
    --VARIABLE-BOX-BG-color: rgb(255, 255, 255);
    --VARIABLE-BOX-TEXT-color:rgb(29, 27, 26);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
div.box > .box-label {
    color: rgb(250, 222, 222);
    padding:0%
}
div.box > .box-label {
    font-weight: 500;
    padding: .2rem .6rem;
    
}
div.box > .box-label {
    font-weight: 500;
    padding: .2rem .6rem;
    
}
.warning{
background-color:rgb(224, 62, 62);
}